/*This css file is for student Login page*/

#header1{
    height:13%;
    width:100%;
    background-color: darkseagreen;
    font-weight: bolder;
    font-family: sans-serif;
    font-variant-ligatures: normal;
    font-size: 130%;
    text-align: center;
}

table{
    position: absolute;
    top:50%;
    left:45%;
   border: 1px solid black;
}

#d1{
    position:absolute;
    top:30%;
    left:50%;
    
}
span{
    font-size:20px;
    font-weight: bold;
}
#b1{
    position:absolute;
    bottom:20%;
    left:70%;
}
body{
    
}
